<%provide (:title, 'Contact')%>

  <h1>contact</h1>
  <h3>
    Contact Ruby on Rails Tutorial about the sample app at the
    <a href="http:/railstutorial.org/"> contact page</a>

  </h3>
  <%=link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
<%=link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'%>
