<% provide(:title, @user.name)%>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
      <%= gravatar_for @user %>
      <%= @user.name %> </h1>
    </h1>
    </section>
    <section>
      <%= render 'shared/stats'%>
    </section>
  </aside>
  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts%>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
